.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    background-color: #8f3f65;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #8f3f65;
    color: #ffffff;
    padding: 20px;
}

.footer h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.footer p {
    font-size: 16px;
    margin: 5px 0;
    padding: 0;
}
.right-image {
    position: fixed;
    top: 100px; /* Adjust based on the height of the header */
    right: 0;
    max-width: 200px; /* Adjust the size of the image */
    height: auto;
    margin: 20px; /* Optional: Add some margin */
}
.container {
    width: 45%;
    padding: 20px;
    box-sizing: border-box;
}

.left-container {
    position: absolute;
    bottom: 400px; /* Adjust based on the height of the footer */
    left: 0;
}

.right-container {
    position: absolute;
    bottom: 400px; /* Adjust based on the height of the footer */
    right: 0;
}
#uploadButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: blueviolet;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#uploadButton:hover {
    background-color: #0056b3;
}