/* Header */
.header {
    background-color: #8f3f65;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

/* PDF Container */
.pdf-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(80vh - 160px); /* Platz zwischen Header und Buttons */
    margin: 20px auto;
    border: 2px solid #8f3f65;
    background-color: #f0f0f0;
    overflow: auto;
}

/* Button Container */
.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
    position: fixed;
    bottom: 80px;
    left: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
}

.button-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #333333;
}

/* Footer */
.upload-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #8f3f65;
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.upload-footer button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload-footer button:hover {
    background-color: #333333;
}

/* Dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.show {
    display: block;
}
.disabled-button {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    opacity: 0.6;
}