<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <title>Home</title>
</head>
<body>
    <header class="header">
        <h1>From slides to sound - work smarter, not harder</h1>
    </header>
    <img src="../static/podclassAI.jpg" height="343" width="363" alt="PodClassAI" class="right-image">
  <div class="new-container">
    <h1>PodClass AI</h1>
    <p>Load up your lectures, convert them into a podcast and listen to them on the go!</p>
</div>
<button id="uploadButton">Load up your lectures here</button>
<div class="container left-container">
    <h2>How does it work?</h2>
    <p>Just convert your lecture slides or your notes into a PDF and load them them up on this website. You can then choose specifics as language or length of podcast. With the help of AI, your notes will be converted into a podcast you can listen to whenever you want, wherever you want.</p>
</div>
    <div class="container right-container">
        <h2>What is it good for?</h2>
        <p>“Learning by listening” is one of the six types of learning. Some people process information better by listening, instead of reading your lecture again and again. Transforming them into a podcast rather than just letting them be read out loud by a program helps you to engage with them more and create an easy listening experience. </p>
    </div>
    <footer class="footer">
        <h2>Impressum</h2>
        <p>Alexander Kunn</p>
        <p>Alon Niemeyer</p>
        <p>Timo Heyn</p>
        <p>Jakob Strade</p>
    </footer>
    <script src="../static/home.js"></script>
</body>
</html>