<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <link rel="stylesheet" href="../static/upload.css">
</head>
<body>
    <header class="header">
        <h1>Upload PDF and Create Podcast</h1>
    </header>

    <div id="pdfContainer" class="pdf-container">
        <p>No PDF uploaded</p>
    </div>

    <div class="button-container">
        <div style="position: relative; display: inline-block;">
            <button id="selectLanguageButton">Select language</button>
            <div id="languageDropdown" class="dropdown-content">
                <a href="#">German</a>
                <a href="#">English</a>
                <a href="#">English-British</a>
            </div>
        </div>

        <div style="position: relative; display: inline-block;">
            <button id="selectSpeedButton">Select speed</button>
            <div id="speedDropdown" class="dropdown-content">
                <a href="#">Slow</a>
                <a href="#">Normal</a>
            </div>
        </div>

        <button id="createPodcastButton" disabled>Create podcast</button>
        <button id="downloadPodcastButton" disabled>Download podcast</button>
    </div>

    <footer class="upload-footer">
        <form action="/">
            <button id="backToHomeButton">Back to home</button>
        </form>
        <button id="uploadNewPdfButton">Upload new PDF</button>
        <input type="file" id="pdfInput" accept="application/pdf" style="display: none;">
    </footer>

    <script src="../static/upload.js"></script>
</body>
</html>
