<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/upload.css">
    <title>Upload</title>
</head>
<body>
    <header class="header">
        <h1>PodClassAI</h1>
    </header>
    <div id="pdfContainer" class="pdf-container"></div>

    <div class="button-container">
        <div style="position: relative; display: inline-block;">
            <button id="selectLanguageButton">select language</button>
            <div id="languageDropdown" class="dropdown-content">
                <a href="#">German</a>
                <a href="#">English</a>
                <a href="#">English-British</a>
            </div>
        </div>

        <div style="position: relative; display: inline-block;">
            <button id="selectSpeedButton">select speed</button>
            <div id="speedDropdown" class="dropdown-content">
                <a href="#">Slow</a>
                <a href="#">Normal</a>
            </div>
        </div>
        <button id="createPodcastButton">create podcast</button>
    </div>

    <footer class="upload-footer">
        <form action="/">
            <button id="backToHomeButton">back to home</button>
        </form>
        <button id="uploadNewPdfButton">upload new pdf</button>
        <input type="file" id="pdfInput" accept="application/pdf" style="display: none;">
    </footer>

    <!-- Skript wird hier geladen -->
    <script src="../static/upload.js"></script>
</body>
